<div class="delayedgramps">
  <div class="delayedgramps-body"><%= post.body %></div>
  <div><%= image_tag post.file, class: "delayedgramps-image" %></div>
  <div>
    <% if post.liked?(current_user) %>
      <%= button_to likes_path(post), class: "delayedgramps-like-icon post-like" do %>
        <%= image_tag "liked.png", class: "" %>
      <% end %>
    <% else %>
      <%= button_to likes_path(post), class: "delayedgramps-like-icon post-like" do %>
        <%= image_tag "like.png", class: "" %>
      <% end %>
    <% end %>
    <%= image_tag "comment.png", class: "delayedgramps-comment-icon" %>
    <%= image_tag "share.png", class: "delayedgramps-share-icon" %>
    <%= image_tag "save.png", class: "delayedgramps-save-icon" %>
    <div class="clearfix"></div>
  </div>
  <div class="delayedgramps-likes">
    <%= post.likes %> like
  </div>
</div>